<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application>

        <activity
            android:name=".LoginAtendenteActivity"
            android:exported="false"
            android:theme="@style/themeMainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".AdminChamadosActivity"
            android:exported="true"
            android:theme="@style/themeMainActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".AdminChatActivity"
            android:exported="false"
            android:theme="@style/themeMainActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
